:root {
  --gray-dark: #24292e;
  --gray-medium: #586069;
  --form-border: #e1e4e8;
  --box-border: #d1d5da;
  --bg-gray: #f6f8fa;
  --bg-gray-light: #fafbfc;
  
  --blue-color: #0366d6;
  --green-color: green;
  
  --alert-border-color: rgba(27,31,35,0.15);
  
  --error-bg-color: #ffdce0;
  --error-txt-color: #86181d;

  --box-shadow: rgba(0,0,0,0.075);
  
  --btn-txt-color: #24292e;
  --btn-bg-color: #eff3f6;
  --btn-gradient: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  --btn-border-color: rgba(27,31,35,0.2);
  
  --btn-hover-bg-color: #e6ebf1;
  --btn-hover-gradient: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  --btn-hover-border-color: rgba(27,31,35,0.35);
  
  --btn-primary-txt-color: #ffffff;
  --btn-primary-bg-color: #28a745;
  --btn-primary-gradient: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

  --btn-primary-hover-bg-color: #269f42;
  --btn-primary-hover-gradient: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  --btn-primary-hover-border-color: rgba(27,31,35,0.5);

  --btn-warn-txt-color: #cb2431;
  --btn-warn-bg-color: #fafbfc;
  --btn-warn-gradient: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);

  --btn-warn-hover-txt-color: #ffffff;
  --btn-warn-hover-bg-color: #cb2431;
  --btn-warn-hover-gradient: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
  --btn-warn-hover-border-color: rgba(27,31,35,0.5);

}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

a {
color: #fff;
}

a:visited { 
  color: #fff;
}

.textLogo {
  text-decoration: none;
}

legend {
  font-family: 'Raleway';
}

button {
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray-medium);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gray-medium);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gray-medium);
}

/* Header */
header {
  display: flex;
  align-self: stretch;
  align-items: center;
  height: 4.6875rem;
  color: #ffffff;
  background-color: var(--gray-dark);
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.logo {
  font-size: .85em;
  padding-left: 0.625em;
  padding-right: 0.325em;
}

/* Typewriter CSS courtsey of http://css-tricks.com */
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #269f42; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .075em; /* Adjust as needed */
    font-family: 'Montserrat', 'Roboto', sans-serif;
    -webkit-animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
            animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #269f42; }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #269f42; }
  }

/* Main Content */
  
  .hidden {
  display: none;
  }

  /* Containers */
  main {
    margin-right: 3%;
    margin-left: 3%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.875em;
  }

  section, .alert, .mainForm {
    width: 60%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  .alert {
    margin: 0.9375em auto;
    padding: 0.75em 1.25em;
    border: 0.0625em solid transparent;
    border-radius: 0.625em;
  }

  .error-message {
    color: var(--error-txt-color);
    background-color: var(--error-bg-color);
    border-color: var(--alert-border-color);
  }
  
  section {
    min-height: 3.125em; 
  }

  .intro {
    margin-bottom: 0.9375em;
  }

  .intro h2 {
    font-size: 1.75em;
    font-weight: bolder;
  }

  section *:first-child {
    margin-top: 0rem;
  }

  section *:last-child {
    margin-bottom: 0rem;
  }

  /* Form*/

  .form {
    /*  */
    margin: 0rem auto 1.25rem;
    background: #ffffff;
    border: 0.0625rem solid var(--form-border);
    border-radius: 0.3125rem;
    padding: 1.25rem;
  }

  .form fieldset {
    /*  */
    border: none;
  }

  .form legend {
    font-size: 1.375rem;
    margin-bottom: 0.625rem;
  }

  .form ul {
    /*  */
    list-style: none;
  	padding: 0rem;
	  margin: 0rem;
  }

  .form li {
    /*  */
    display: block;
    padding: 0rem;
    border: 0.0625rem solid var(--box-border);
    margin-bottom: 1.875rem;
    border-radius: 0.3125rem;
  } 

  .form li.button{
    /*  */
    border: none;
    margin-bottom: 0rem;
    text-align: center;
  }

  .form li > label {
    display: inline-block;
    position: relative;
    top: -0.625rem;
    margin-left: 0.5625rem;
    background: #ffffff;
    height: 1.25rem;
    padding: 0.125rem 0.3125rem;
    color: var(--blue-color);
    font-size: 1rem;  
  }

  .form legend .icon {
    background: var(--gray-dark);
    color: #ffffff;
    display: inline-block;
    height: 1.875rem;
    width: 1.875rem;
    line-height: 1.875rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.3125rem;
    text-align: center;
    border-radius: 0.9375rem;
    margin-bottom: 0.5rem;
  }

  .form input[type="text"], .form input[type="url"], .form textarea {
    width: 100%;
    display: block;
    border: none;
    color: var(--gray-dark);
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0rem 0.5625rem;
  }
  
  .form input[type="text"]:focus, .form input[type="url"]:focus, .form textarea:focus {
    background-color: var(--bg-gray-light);
    color: var(--gray-dark);
    outline: none;
    box-shadow: 0 -0.125rem 0.1875rem var(--box-shadow) inset;
    -webkit-box-shadow: 0 -0.125rem 0.1875rem var(--box-shadow) inset;
  } 

  .form li > span {
    background-color: var(--bg-gray);
    display: block;
    padding: 0.5625rem;
    border-top: 0.0625rem solid var(--box-border);
    text-align: center;
    color: var(--gray-medium);
    font-size: 0.75rem;
  }

  .form li input:last-child, .form li textarea:last-child, .form li span:last-child {
    border-radius: 0rem 0rem 0.3125rem 0.3125rem;
  }

  .form textarea {
    resize: vertical;
    min-height: 3.125rem;
    line-height: 1.375rem;
  }
  
  textarea.output {
    min-height: 15.625rem;
  }

  .form .authors li {
    border: none;
    border-radius: 0rem;
    margin-bottom: 0.9375rem;
  }

  .form .authors input {
    display: inline-block;
    width: auto;
    max-width: 10.625rem;
    border: 0.0625rem solid var(--box-border);
    border-right-width: 0rem;
    vertical-align: top;
    border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  }

  .btn {
    border-radius: 1.25rem;
    margin: 0 auto 0.625rem;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.375rem 0.75rem;
    color: var(--btn-txt-color);
    border: 0.0625rem solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    background-image: var(--btn-gradient);
  }

  .btn-small {
    padding: 0.1875rem 0.625rem;
    font-size: 0.75rem;
  }
   
  .btn:hover {
    background-color: var(--btn-hover-bg-color);
    background-image: var(--btn-hover-gradient);
    border: 0.0625rem solid var(--btn-hover-border-color);
  }

  .btn-primary, .btn-add {
    background-color: var(--btn-primary-bg-color);
    background-image: var(--btn-primary-gradient);
    color:var(--btn-primary-txt-color);
  }

  .btn-primary:hover, .btn-add:hover {
    background-color: var(--btn-primary-hover-bg-color);
    background-image: var(--btn-primary-hover-gradient);
    border: 0.0625rem solid var(--btn-primary-hover-border-color);
  }

  .btn-warn, .btn-delete {
    background-color: var(--btn-warn-bg-color);
    background-image: var(--btn-warn-gradient);
    color:var(--btn-warn-txt-color);
  }

  .btn-warn:hover, .btn-delete:hover {
    color:var(--btn-warn-hover-txt-color);
    background-color: var(--btn-warn-hover-bg-color);
    background-image: var(--btn-warn-hover-gradient);
    border: 0.0625rem solid var(--btn-warn-hover-border-color);
  }

  .form .authors .btn {
    margin-bottom: 0px;
    height: 40px;
    padding: 0px 9px;
    border-radius: 0px 5px 5px 0px;
    min-width: 60px;
  }
/* Footer */

footer {
  display: flex;
  align-items:center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px; 
}

/* Return to Top */
#return-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 2.1875rem;
  -moz-border-radius: 2.1875rem;
  border-radius: 2.1875rem;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 1rem;
  top: 0.8125rem;
  font-size: 1.1875rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 0.3125rem;
}


@media only screen and (min-width: 768px) {

  .form li > span {
    font-size: 0.875rem;
  }

  .form .authors input {
    max-width: initial;
  }

}